:root {
    --brand-color: #FF991C;
}

body {
    font-family: 'Inter', sans-serif;

    background-color: var(--brand-color);
}

h1 {
    font-weight: 900;
    margin: 0;
    font-size: 4rem;
    margin-bottom: 5pt;
}

h2 {
    margin-top: 50px;
}

p {
    line-height: 140%;

    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    max-width: 60ch;

    padding: 6rem;
}

.subtitle {
    font-weight: 700;
    color: black;
    font-size: 25pt;

    margin-bottom: 25pt;
}

.link-bar {
    display: flex;
    flex-wrap: wrap;
}

.link-bar > a {
    margin-right: 15px;
    margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
  transition: color 0.2s ease;
}

a:hover {
  color: white;
}

.disabled:hover {
    color: lightslategray;
}

@media (max-width: 650px) {
  .container {
    width: inherit;
    padding: 3rem;
  }
}